@import "tailwindcss";

@font-face {
  font-family: "OctinSpraypaint";
  src: url("/fonts/octin-spraypaint.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-swb-main: #701b2d;
  --color-swb-second: #2d2841;
}

body {
  font-family: OctinSpraypaint, Helvetica, sans-serif;
}

.btn-swb-main {
  background-color: var(--color-swb-main);
}

.btn-swb-main:hover {
  background-color: var(--color-swb-second);
}

.itemmenu {
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 4px;
  padding: 12px;
  opacity: 0.8;
  /* border: 6px solid white; */
}

.menuonhover:hover > :not(:hover) {
  filter: blur(2px);
  opacity: 0.5;
}

.menuonhover:hover > .itemmenu:hover {
  transform: scale(1.2);
  opacity: 1;
  filter: none;
}
