@import "tailwindcss";

@font-face {
  font-family: "OctinSpraypaint";
  src: url("/fonts/octin-spraypaint.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-swb-main: #701b2d;
  --color-swb-second: #2d2841;
}

body {
  background: var(--color-swb-main);
  color: var(--color-swb-second);
  font-family: OctinSpraypaint, Helvetica, sans-serif;
}

.btn-swb-main {
  background-color: var(--color-swb-main);
}

.btn-swb-main:hover {
  background-color: var(--color-swb-second);
}

.title span:after {
  content: "";
  opacity: 0.8;
  animation: word 8s infinite;
}

@keyframes word {
  0%,
  15% {
    content: "STREET";
  }
  20%,
  35% {
    content: "WORKOUT";
  }
  40%,
  55% {
    content: "BORDEAUX";
  }
  60%,
  100% {
    content: "STREET WORKOUT BORDEAUX";
  }
}

.itemmenu {
  transition: all 0.3s ease;
  cursor: pointer;
}

.menuonhover:hover > :not(:hover) {
  filter: blur(5px);
  opacity: 0.5;
}
