@import "tailwindcss";

@font-face {
  font-family: "OctinSpraypaint";
  src: url("/fonts/octin-spraypaint.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-swb-main: #701b2d;
  --color-swb-second: #2d2841;
}

body {
  background: var(--color-swb-main);
  color: var(--color-swb-second);
  font-family: OctinSpraypaint, Helvetica, sans-serif;
}

.btn-swb-main {
  background-color: var(--color-swb-main);
}

.btn-swb-main:hover {
  background-color: var(--color-swb-second);
}

/* .rotword {
  opacity: 0;
  color: white;
  text-align: center;
  animation-fill-mode: both;
  transition: opacity 0.5s linear;
}

.rot1 {
  animation: rot1 12s linear infinite;
}
.rot2 {
  animation: rot2 12s linear infinite;
}
.rot3 {
  animation: rot3 12s linear infinite;
}

@keyframes rot1 {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes rot2 {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes rot3 {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.8;
  }
  91.1% {
    opacity: 0.1;
  }
  91.2% {
    opacity: 0.8;
  }
  91.3% {
    opacity: 0.1;
  }
  91.4% {
    opacity: 0.8;
  }
  91.5% {
    opacity: 0.1;
  }
  91.6% {
    opacity: 0.8;
  }
  91.7% {
    opacity: 0.1;
  }
  91.8% {
    opacity: 0.8;
  }
  91.9% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
} */
.title span:after {
  content: "";
  opacity: 0.8;
  animation: word 8s infinite;
}

@keyframes word {
  0%,
  15% {
    content: "STREET";
  }
  20%,
  35% {
    content: "WORKOUT";
  }
  40%,
  55% {
    content: "BORDEAUX";
  }
  60%,
  100% {
    content: "STREET WORKOUT BORDEAUX";
  }
}

.itemmenu {
  transition: all 0.3s ease;
  cursor: pointer;
}

.menuonhover:hover > :not(:hover) {
  filter: blur(5px);
  opacity: 0.5;
}
